.home-page {
  margin-top: 20px;
}

.row {
  position: relative;
}

.image-container {
  position: relative;
  height: 100vh; 
}

.animated-image-left{
  
  width: 100%;
  height: 100%;
  
  
}
.animated-image-right {
  width: 100%; /* Full width*/
  height: 100%; /* Full height */
  
}

.info-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Full height of the container */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent white background */
  padding: 20px;
  border-radius: 10px;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease; /* Smooth transition for opacity */
}

.image-container:hover .info-box {
  opacity: 1; 
}

/* Button Hover */
.buttons .btn {
  margin: 10px;
  transition: all 0.3s ease;
}

.buttons .btn:hover {
  transform: scale(1.05);
}

/* Keyframes for Swipe Animations */
@keyframes swipeLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes swipeRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .info-box {
    padding: 10px; 
  }
}
